@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.header {
  background-color: #3a3f50;
  padding: 20px;
  color: white;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.menu-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  transition: left 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.close-button {
  background: none;
  color: black;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 1rem 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2em;
}

.sidebar ul li a:hover {
  color: #007bff;
}

.main {
  flex: 1;
  padding: 2rem;
}

.intro-text {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #555;
}

.main {
  flex: 1;
}

.footer {
  position: fixed; /* or absolute */
  padding: 10px;
  bottom: 0;
  width: 100%;
  text-align: center;

  color: white;
}

.stripe-table-color {
  background-color: #0a1a2e;
}

stripe-pricing-table {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* For Firefox */
html {
  scrollbar-width: none; /* Firefox */
}
